*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}

body{
    background: linear-gradient(20deg, #142626 0%, #051d15 100%);
    color: white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #005f73;
    border-radius: 14px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 70px 30px rgba(0,0,0,0,0.5);
    overflow: hidden;
}

.HeaderForm{
    background: linear-gradient(20deg, #0a9396 0%, #94d2bd 100%);
    padding: 1.5rem;
    text-align: center;
}

.form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}

.form{
    padding: 2rem;
}

.form-content label{
    margin-bottom: 4px;
    display: inline-block;
}

.form-content input{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf;
}

.form-content textarea{
    display: block;
    width: 100%;
    min-width: 100%;
    max-width:100%;
    min-height: 100%;
    padding: 9px;
    border-radius: 8px;
    border: 2px solid #dfdfdf;
    box-shadow: 1px 1px 1px #999;
}

.form-content a{
    position: absolute;
    bottom: -9px;
    left: 0;
    visibility: hidden;
}

.form button{
    background-color: #0a9396;
    color: #fff;
    width: 100%;
    border-radius: 1rem;
    padding: 10px;
    border: 0;
    font-size: 1rem;
    cursor:pointer;
    margin-top: 14px
}

.form-content.error input{
    border-color: #ff3b25;
    visibility: visible;

}

.form-content.error a{
    color: #ff3b25;
    visibility: visible;
    font-size: 15px;
}